.example-spacer {
  flex: 1 1 auto;
}
.image {
  cursor: pointer;
  width: 48px;
  height: 48px;
  margin-right: 16px;
}
.navIcons{
  cursor: pointer;
  margin-right: 16px;
}
.ovrflow{
  width: 100%;
  overflow-y: auto;
}
.whitebg{
  background-color: white;
}
.no-v-scroll {
  height: 100%;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 !important;
}
