<div class="no-v-scroll">
  <mat-toolbar class="whitebg">
    <img class="image" src="assets/professional logo.jpg" (click)="goToPage('')">
    <span class="navIcons" (click)="goToPage('')">My App</span>
    <span class="example-spacer"></span>
    <span class="navIcons" (click)="goToPage('courses')">Courses</span>
    <span class="navIcons" (click)="goToPage('wishList')">
      <button mat-icon-button title="My Wishlist">
        <mat-icon>lists</mat-icon>
      </button>
    </span>
    <span class="navIcons" (click)="goToPage('cartDetails')">
    <button mat-icon-button title="Cart Details">
      <mat-icon [matBadgeHidden] = "dataService.cartItems.length == 0" [matBadge]="dataService.cartItems.length" matBadgeColor="warn">shopping_cart</mat-icon>
    </button>
    </span>
    <span class="navIcons" (click)="goToPage('profilePage')">
      <button mat-icon-button title="My Profile Page">
        <mat-icon>account_circle</mat-icon>
      </button>
    </span>
  </mat-toolbar>
  <div class="ovrflow">
    <router-outlet></router-outlet>
  </div>
</div>

