<mat-dialog-content *ngIf="data.mode ==='addedToCart' ">
  Course successfully added in the Cart
</mat-dialog-content>
<mat-dialog-actions align="end" *ngIf="data.mode ==='addedToCart' ">
  <button mat-button (click)="close()">OK</button>
</mat-dialog-actions>

<mat-dialog-content *ngIf="data.mode ==='addedToWishList' ">
  Course successfully added to the WishList
</mat-dialog-content>
<mat-dialog-actions align="end" *ngIf="data.mode ==='addedToWishList' ">
  <button mat-button (click)="close()">OK</button>
</mat-dialog-actions>

<mat-dialog-content *ngIf="data.mode ==='profileUpdated' ">
  Your Profile is Updated!
</mat-dialog-content>
<mat-dialog-actions align="end" *ngIf="data.mode ==='profileUpdated' ">
  <button mat-button (click)="close()">OK</button>
</mat-dialog-actions>

<mat-dialog-content *ngIf="data.mode ==='checkOut' ">
  <p>Ordered successfully!!</p>
  <p>Ordered {{data.noOfItems}} items successfully!!</p>
  <br>
  Order Total: &#8377;{{data.price}}
</mat-dialog-content>
<mat-dialog-actions align="end" *ngIf="data.mode ==='checkOut' ">
  <button mat-button (click)="close()">Cancel</button>
  <button mat-button mat-dialog-close="ok">OK</button>
</mat-dialog-actions>
